body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 80px;
    padding: 0;
  }
  
  header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    font-size: 16px;
    margin: 10px 0;
  }
  
  #miBoton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #actualizar {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #miBoton:hover {
    background-color: #0056b3;
  }

  #actualizar:hover {
    background-color: #0056b3;
  }
  
  #perretes {
    text-align: center;
    margin-top: 20px;
  }
  
  #perretes img {
    max-width: 50%;
    border: 2px solid #333;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  